/* .navbar {
  background-color: gray;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.nav-list li {
  display: inline;
  margin-right: 50px;
}

.nav-list a {
  color: white;
  text-decoration: none;
}

.jumbotron {
  background-color: #f8f9fa;
  padding: 30px;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-position: center;
  color: darkslategray;
}

.jumbotron h1 {
  margin-bottom: 20px;
}

.jumbotron-heading {
  font-size: 4em;
  margin-bottom: 20px;
  margin-top: 20px;
}

.jumbotron-text {
  font-size: 1.5em;
  margin-bottom: 50px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.search-input {
  max-width: 800px;
  font-size: 16px;
  padding: 13px;
  border: 1px solid #ccc;
  flex: 1;
  border-radius: 10px;
}

.search-button {
  padding: 14px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 10px;
}


.card {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 300px;
}

.card h2 {
  margin-bottom: 10px;
}

.scroll-down {
  margin-top: 20px;
  text-align: center;
}

.card-content {
  text-align: center;
  font-size: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 150px;
  padding-right: 50px;
}

@media (max-width: 992px) {
  .card-container {
    justify-content: left;
  }
}

.card-image {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.property-info {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding-right: 10px;
}

.property-info h3 {
  margin: 0;
}

.info-label {
  margin-right: 3px; 
}

.property-info > div {
  align-self: center; 
}

.house-details {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.house-details img {
  max-width: 100%;
  height: auto;
}

footer {
  height: 50px;
  flex-shrink: 0;
  background-color: #f8f8f8;
  padding: 10px;
  text-align: center;
  bottom: 0;
  width: 100%;
  display: inline;
  margin-right: 50px;
}

.about {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.about h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.about p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
}

.contact {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.contact h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  font-size: 1.2em;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 1em;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
} */

/* .card-image {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.house-details {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.house-details img {
  max-width: 100%;
  height: auto;
} */

.container-full {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
}

.custom-ml-auto {
  margin-left: auto;
}
